{
    "presets": ["env", "react"],
    "plugins": [
        "transform-object-rest-spread",
        [
            "react-css-modules",
            {
                "filetypes": {
                    ".sass": {
                        "syntax": "postcss-sass"
                    },
                    ".scss": {
                        "syntax": "postcss-scss"
                    }
                },
                "generateScopedName": "[path][name]__[local]--[hash:base64:5]"
            }
        ]
    ]
}
